<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Full Screen Player</key>
	<string>1_o426d3i4</string>
	<key>Inline Player</key>
	<string>1_u202oxs5</string>
	<key>Collection Of Players</key>
	<string>1_iwhl2pu8</string>
</dict>
</plist>
